# Prerequisites
*.d
deps/

# Object files
*.o
obj/

# Executables
*.out
bin/

# Profiling files
callgrind.out.*

# Log files
*.log

# YCM vim configurable file
.ycm_extra_conf.py
.ycm_extra_conf.pyc

